@namespace ReactiveBlazor

@inherits DialogBase

@if (Visibility)
{
    <div class="dialog-backdrop">
        <div style="@Style" class="@StyleClass @visibilityStyleClass dialog">
            <div class="dialog-header">
                @if (HeaderContent != null)
                {
                    @HeaderContent
                }
                else
                {
                    <div class="flex justify-content-between">
                        <h3>@Header</h3>
                        <button @onclick="@(async () => await OnCloseButtonClicked())">
                            <CloseIcon />
                        </button>
                    </div>
                }
            </div>
            <div class="@StyleClass dialog-content">
                @ChildContent
            </div>
            @if (FooterContent != null)
            {
                <div class="dialog-footer">
                    @FooterContent
                </div>
            }
        </div>
    </div>
}

@code {


}
