

table[data-grid] {
    width: 100%;
}

th .column-header {
    display: flex;
    align-items: start;
    gap: 4px;
    width: 100%;
    flex-direction: column;
}

.column-header-filter {
    display: flex;
    align-items: center;
    width: 100%;
}

table tbody tr:nth-child(2n+1) {
    background-color: var(--surface-100);
}
