@namespace ReactiveBlazor

@inherits OwingSectionBase

@attribute [Selector("Random Component")]

<h3>@Guid.NewGuid()</h3>

@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("TestComponent 2");
    }
}
