@namespace ReactiveBlazor

@inherits OwingSectionBase

@attribute [Selector("First Component")]

<h3>TestComponent 1</h3>

@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("TestComponent 1");
    }
}
