

.text-box {
    display: flex;
    width: 100%;
    gap: 0.2rem;
    flex-direction: column;
}

    .text-box label {
        font-size: medium;
    }

    .text-box textarea {
        padding: 6px 8px;
        border-radius: 4px;
        transition: all 100ms;
        outline: none;
        border: 1px solid var(--gray-400);
    }

        .text-box textarea:focus {
            border: 1px solid var(--blue-400);
        }
