

@import "/css/initial-loading.css";
@import "/lib/primeflex/primeflex.css";
@import "/lib/primeflex/themes/primeone-light.css";
@import "reactive-blazor.css";

* {
    transition: all 100ms linear;
}

body {
    padding: 0;
    margin: 0;
    font-family: Calibri;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

button {
    border: none;
    display: flex;
    height: max-content;
    width: max-content;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
