@page "/"

<PageTitle>Home</PageTitle>

<main class="p-3">
    <FlexLayout>
        <Button Value="Add Tab" OnClick="@addTab" />

        <Button Value="Add Sheet" OnClick="@addSheet" />

        <Button Value="Chat With Deep Seek" OnClick="@(() => tabManager.AddTab(nameof(DeepSeek),true))" />
    </FlexLayout>

    <hr />

    <DynamicTab />
</main>


@code {

    [Inject] public TabManager tabManager { get; set; } = default!;

    protected override void OnInitialized()
    {
        tabManager.AddTab(nameof(TestComponent1), true);
    }

    private void addTab()
    {
        tabManager.AddTab(nameof(TestComponent2), true);
    }

    private void addSheet()
    {
        tabManager.AddSheet(nameof(Users));
    }
}