@namespace ReactiveBlazor

@inherits LayoutBase

<div style="@Style" class="@StyleClass flex gap-@Spacing 
@(Vertical ? "flex-column" : "align-items-center") 
@(Full ? "w-full" : "")">
    @ChildContent
</div>