@namespace ReactiveBlazor.Layout

@inherits BaseComponent

<div class="flex gap-@Spacing @(Vertical ? "flex-column" : "align-items-center") @(Full ? "w-full" : "")">
    @ChildContent
</div>

@code {

    [Parameter] public string Spacing { get; set; } = "1";

    [Parameter] public bool Vertical { get; set; } = false;

    [Parameter] public bool Full { get; set; } = false;
}
